---
import Layout from "../layouts/Layout.astro";
import { Header } from "../components/Header"
import { Mv } from "../components/top/Mv";
import { Intro } from "../components/top/Intro";
import { About } from "../components/top/About";
import { Works } from "../components/top/Works";
import { Skill } from "../components/top/Skill";
import { Contact } from "../components/top/Contact";
import { Footer } from "../components/Footer"
---

<Layout title="Portfolio">
  <Header client:load />
  <main>
    <Mv />
		<!-- <Intro /> -->
    <About />
    <Works />
    <Skill />
    <Contact />
  </main>
  <Footer client:load />
</Layout>

<style lang="scss">
  main {
    background: #F0EFEC;
  }

</style>
