---
import Layout from "../layouts/Layout.astro";
import { Intro } from "../components/top/Intro";
import { About } from "../components/top/About";
import { Works } from "../components/top/Works";
import { Skill } from "../components/top/Skill";
import { Contact } from "../components/top/Contact";
import { Footer } from "../components/Footer"
---

<Layout title="Portfolio">
  <main>
    <div class="mv">
      <p>Lunch steamen,<br />leicht gemacht.</p>
    </div>
		<Intro />
    <About />
    <Works />
    <Skill />
    <Contact />
  </main>
  <Footer />
</Layout>

<style lang="scss">
  main {
    // padding: 6.4%;
    /* color: white; */
    background: #F0EFEC;
  }

  .mv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 32px;
    border-bottom: 2px solid #000;
  }


</style>
