---
import Layout from "../layouts/Layout.astro";
// import Intro from "../components/top/Intro.astro";
import { Intro } from "../components/top/Intro.jsx";
import About from "../components/top/About.astro";
---

<Layout title="Portfolio">
  <main>
    <div class="mv">
      <p>Lunch steamen,<br />leicht gemacht.</p>
    </div>
		<Intro />
    <About />
  </main>
</Layout>

<style lang="scss">
  main {
    padding: 6.4%;
    /* color: white; */
  }

  .mv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 32px;
    border-bottom: 2px solid #000;
  }


</style>
